body {
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: gray;
	padding: 8px 12px;
}

#logo {
	font-size: 24px;
	color: white;
	padding-left: 50px;
}

#menu {
	display: flex;
	list-style : none;
	padding-left: 0;
}

#menu li {
	padding: 8px 12px; /* À§ ¾Æ·¡ , ¾ç ¿· */
}

#screen {
	padding: 48px 24px;
}

@media screen and (max-width :768px) {
	.navbar {	
		align-items: center;
	}
	
	#logo {
		padding-left: 10px;
	}
	
	#menu {
	align-items: flex-end;
	}
}